<% layout('layout/page') -%>
<% block('title', "Список") -%>
<script src="/socket.io/socket.io.js"></script>

<div id="room">
    <div id="text"></div>
</div>
<a href="task_create">Создать новый документ</a>
<div class="task-list">
    <table class="table table-hover">
        <tr>
            <td>Название</td>
            <td>Создатель</td>
            <td></td>
        </tr>
        <% if (locals.tasks) {%>
            <% for (var i = 0; i<locals.tasks.length; i++){%>
                <tr>
                    <td class="task_name"><%=locals.tasks[i].task_name%></td>
                    <td class="username"><%=locals.tasks[i].username%></td>
                    <td>
                        <a href="task_edit?id=<%=locals.tasks[i].id%>" class="glyphicon glyphicon-edit"></a>
                        <a href="task_delete?id=<%=locals.tasks[i].id%>" class="glyphicon glyphicon-remove-circle text-danger"></a>
                    </td>
                </tr>
            <%}
        }%>
    </table>
</div>
<h3>Общий доступ</h3>
<div class="task-list">
    <table class="table table-hover">
        <tr>
            <td>Название</td>
            <td>Создатель</td>
            <td></td>
        </tr>
        <% if (locals.shared_tasks) {%>
        <% for (var i = 0; i<locals.shared_tasks.length; i++){%>
        <tr>
            <td class="task_name"><%=locals.shared_tasks[i].task_name%></td>
            <td class="username"><%=locals.shared_tasks[i].username%></td>
            <td>
                <a href="task_edit?id=<%=locals.shared_tasks[i].id%>" class="glyphicon glyphicon-edit"></a>
            </td>
        </tr>
        <%}
        }%>
    </table>
</div>