<% layout('layout/page') -%>
<% block('title', "Создание документа") -%>
<form class="form-horizontal login-form" name="create-form" xmlns="http://www.w3.org/1999/html">
  <div class="form-group">
    <label for="input-task_name" class="col-lg-2 control-label">Имя Документа:</label>

    <div class="col-lg-10">
      <input name="task_name" value="" type="text" class="form-control" id="input-task_name" placeholder="Имя">
    </div>
  </div>
      <input name="username" value="<%=user.username%>" type="hidden" class="form-control" id="input-username" placeholder="Имя">
  <div class="form-group">
    <label for="input-username" class="col-lg-2 control-label disabled">Текст:</label>

    <div class="col-lg-10">
      <textarea name="text" class="form-control" id="input-text" placeholder="Текст"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="input-share" class="col-lg-2 control-label">Доступность</label>

    <div class="col-lg-10">
      <select id="input-share"  name="share" class="radio">
        <option value="1">Всем</option>
        <option value="0">Только мне</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-primary" data-loading-text="Отправляю...">Создать</button>
      <span class="help-block error"></span>
    </div>
  </div>
</form>
<script>
  $(document.forms['create-form']).on('submit', function() {
    var form = $(this);

    $('.error', form).html('');
    $(":submit", form).button("loading");

    $.ajax({
      url: "/task_create",
      method: "POST",
      data: form.serialize(),
      complete: function() {
        $(":submit", form).button("reset");
      },
      statusCode: {
        200: function() {
          form.html("Сохранено").addClass('alert-success');
          window.location.href = "/task_list";
        },
        403: function(jqXHR) {
          var error = JSON.parse(jqXHR.responseText);
          $('.error', form).html(error.message);
        }
      }
    });
    return false;
  });
</script>