<% layout('layout/page') -%>
<% block('title', "Редактировать") -%>
<script src="/socket.io/socket.io.js"></script>

<div id="room">
    <div id="text"></div>
    <form class="form-horizontal login-form" name="edit-form" xmlns="http://www.w3.org/1999/html">
        <div class="form-group">
            <label for="input-task_id" class="col-lg-2 control-label">ID:</label>

            <div class="col-lg-10">
                <input name="task_id" value="<%=task_body.id%>" type="text" class="form-control" readonly="readonly" id="input-task_id">
            </div>
        </div>
        <div class="form-group disabled">
            <label for="input-task_name" class="col-lg-2 control-label">Имя Документа:</label>

            <div class="col-lg-10">
                <input name="task_name" value="<%=task_body.task_name%>" type="text" class="form-control" readonly="readonly" id="input-task_name" placeholder="Имя">
            </div>
        </div>
        <input name="username" value="<%=task_body.task_name%>" type="hidden" class="form-control" id="input-text" placeholder="Имя">
        <div class="form-group">
            <label for="input-text" class="col-lg-2 control-label disabled">Текст:</label>

            <div class="col-lg-10">
                <textarea name="text" class="form-control" id="input-text" placeholder="Текст"><%=task_body.text%></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="input-share" class="col-lg-2 control-label">Доступность</label>

            <div class="col-lg-10">
                <select id="input-share"  name="share" class="radio ">
                    <option value="1" <%if (task_body.share == 1){%> selected <%}%>>Всем</option>
                    <option value="0" <%if (task_body.share == 0){%> selected <%}%>>Только мне</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-primary" data-loading-text="Отправляю...">Сохранить</button>
                <span class="help-block error"></span>
            </div>
        </div>
        <div class="alert"></div>
    </form>
</div>
<script>
    $(document.forms['edit-form']).on('submit', function() {
        var form = $(this);

        $('.error', form).html('');
        $(":submit", form).button("loading");

        $.ajax({
            url: "/task_edit",
            method: "POST",
            data: form.serialize(),
            complete: function() {
                $(":submit", form).button("reset");
            },
            statusCode: {
                200: function() {
                    $('.alert').html("Сохранено").addClass('alert-success');
                    window.location.href = "/task_list";
                },
                500: function() {
                    form.html("Ошибка сохранения").addClass('alert-danger');
                    window.location.href = "/task_edit";
                }
            }
        });
        return false;
    });
</script>